// Application-level settings for the Runner target.

// Apple developer team ID
DEVELOPMENT_TEAM = 8A8M4LM654

// The development certificate SHA-1 hash
CODE_SIGN_IDENTITY = D7A103CBE667766E3AC7C46227A86D450AB70FEA

// The provisioning profile UUID
PROVISIONING_PROFILE_SPECIFIER = f7a70ccc-1a98-4aaf-ad10-718296fae13a

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2024 AppBricks Inc. All rights reserved.

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = io.appbricks.spacenet.mycsbuilder.macos

// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = MyCS Builder

// Amplify libraries requires a minimum deployment target of 10.15
MACOSX_DEPLOYMENT_TARGET = 10.15
